<div class="p-5">
  <section class="mbr-section text-center" id="content4-7x" data-rv-view="3584">
    <div class="container">
      <div class="media-container-row">
        <div class="title col-12">
          <h2 class="align-center pb-3 mbr-fonts-style display-5">DROP-DEAD EASY BOOTSTRAP BLOG</h2>
          <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7"><em>By John Smith posted July 30, 2016</em></h3>
        </div>
      </div>
    </div>
  </section>
  <section class="mbr-section article text-center" id="content1-7y" data-rv-view="3586">
    <div class="container">
      <div class="media-container-row">
        <div class="mbr-text col-12 mbr-fonts-style display-7">Proin id eros arcu. Integer neque urna, malesuada vel iaculis ac, elementum ut mauris. Proin auctor sapien eu lacus congue, tincidunt luctus nisi egestas. Pellentesque venenatis risus id odio ullamcorper commodo. Mauris pellentesque sapien commodo elit condimentum porta a at purus. Nam vitae odio et augue semper ultrices. Vestibulum ut neque vel elit commodo euismod. Morbi viverra sapien eu sapien ultricies egestas. Mauris porta massa vitae euismod iaculis. Sed finibus enim eu eleifend suscipit. Suspendisse molestie rutrum interdum.&nbsp;</div>
      </div>
    </div>
  </section>


</div>
