<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div
          #userData="ngModelGroup"
          id="user-data"
          ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              id="username"
              name="username"
              ngModel
              required
              type="text"
            >
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              #email="ngModel"
              class="form-control"
              email
              id="email"
              name="email"
              ngModel
              required
              type="email"
            >
            <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            [ngModel]="defaultQuestion"
            class="form-control"
            id="secret"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            [(ngModel)]="answer"
            class="form-control"
            name="questionAnswer"
            rows="3"></textarea>
        </div>
        <p>Your reply: {{answer}}</p>
        <div *ngFor="let gender of genders;" class="radio">
          <label>
            <input
              [value]="gender"
              name="gender"
              [ngModel]="genders[0]"
              type="radio"
              required>
            {{gender}}
          </label>
        </div>
        <button
          [disabled]="!f.form.valid"
          class="btn btn-primary"
          type="submit"
        >Submit
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secret Question: Your first {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
